git+git://github.com/jdehning/pymc4.git@84009ab84a6ed492d438198575a3276add0bcad1
git+git://github.com/psf/black@19.10b0
pre-commit
numpy
matplotlib
pandas
timerit
coloredlogs
tqdm
arviz>=0.10.0
xarray
