git+git://github.com/jdehning/pymc4.git@9a33b7efcca679d72639db591ca1beafb4ff4d68
git+git://github.com/psf/black@19.10b0
pre-commit
numpy
matplotlib
pandas
timerit
coloredlogs
tqdm
arviz>=0.10.0
xarray
