#Own pymc4 version for progressbar and enhancments PR pending
git+https://github.com/jdehning/pymc4.git@7b92752e661579e87c7a390bccf9a49c1e4e8166
#Fix black version
git+https://github.com/psf/black@19.10b0
# Own arviz version till PR is integrated to version 0.12.0
git+https://github.com/semohr/arviz.git
pre-commit
numpy
matplotlib
pandas
timerit
coloredlogs
tqdm
xarray
zarr>=2.5.0